data/
**/*.pyc
**/*.h5
**/*.DS_Store
**/*.ipynb_checkpoints

src/VGGish/vggish_model.ckpt
src/VGGish/vggish_pca_params.npz
results/LSTM/*
results/NeuralNet/*
results/LogisticReg/*

models/
results/tSNE_perplexity50_iter250.png
results/tSNE_iter250_perp5.png
results/tSNE_iter250_perp40.png
results/tSNE_perplexity30_iter250.png


#exclude
!results/LSTM/LSTM__Loss=BinCE_lr0.001_20Epochs_performance.png
!results/LSTM/ConfusionMat_LSTM1_BinCE_Adam_lr0.001_20EP.png

!models/LSTM/1LayerLSTM__Loss=BinCE_40Epochs_highestacc.h5
!models/LSTM_TwoLayer_25Epochs_Valid81.h5
!models/SingleLayerNN__Loss=BinaryCE_50Epochs_lr0.4.h5

